html{width: 100%;}
body{background-size: 100%;}
.top-banner{position: relative;}
.top-banner .flex{position: absolute;width: 100%;left: 0;bottom: -.2rem;}
.top-banner .btn{padding: .05rem .2rem;background: #990C14;color: #FEFF9F;border-bottom: .01rem solid #720006;}

.top-data .center{border-left: .01rem solid ;border-right: .01rem solid ;}

.searchbox .text{height: .3rem;line-height: .3rem;padding:0 .1rem;font-size:.12rem;border: 0 dashed ;}
.searchbox .submit-btn{border:none;height: .32rem;width:.6rem;font-size:.12rem;}

.link-btn a{display: block;padding: .03rem 0;width: 40%;text-align: center;}
.link-btn a.active{}


#waterbox{position:relative;}
.pin{padding: 0 1% ;float:left;width:50%;overflow:hidden;font-size:.12rem;line-height:1.4em;box-sizing:border-box; position: initial;}
.pin .box{padding: .04rem;border:none ;background-color:#fff;position:relative;padding-bottom: .05rem;}
.pin .box a{display: block;}
.pin .box img{width:100%;height:auto;display:block;}
.pin .box>div{margin-top: .02rem;}
.pin .box .zan{line-height: 2em;text-align: center;font-size: .1rem;}

.pin .box .piao{position: absolute;right:.05rem;top:.05rem;color:#fff;background: rgba(0,0,0,0.4);padding: 0 .05rem;font-size:.12rem;}



.detail {width: 90%;margin: .1rem auto;padding: .1rem;box-sizing:border-box;}
.detail .piao{position: absolute;right:.1rem;top:.1rem;color:#fff;background: rgba(0,0,0,0.4);padding: 0 .05rem;font-size:.12rem;}
.detail .zan{line-height: 1.8em;text-align: center;color:#fff;margin-top: .05rem;padding: .05rem 0;}

.rank table tr:nth-child(1){}
.rank table tr td{text-align:center;line-height:30px;padding: .05rem 0;border-bottom: 1px solid #fff;}
.rank table tr td:nth-child(1){width:25%;}
.rank table tr td:nth-child(2){width:35%;}
.rank table tr td:nth-child(3){width:25%;}
.rank table tr td:nth-child(4){width:25%;}
.rank table .head-img{width: 40%;}

.baoming{width:80%;margin: 0 auto;}
.baoming #bm-form .flex{margin-bottom: .1rem;-webkit-box-align:center;}
.baoming .t-title{width:.7rem;text-align: right;}
.baoming .write{background-color: #fff;padding:.08rem .05rem;border:.01rem solid #D9E5F4;
	background-color: #fff;font-size:.14rem; }
.baoming input::-webkit-input-placeholder,.baoming textarea::-webkit-input-placeholder {color: #ccc!important ;}
.baoming .sub-btn{border-bottom: .01rem solid #777}

.filebox{height:.35rem;line-height:.35rem;color:#fff;font-size:.14rem;
border-bottom:.02rem solid #777;text-align:center;overflow:hidden;}
.filebox .file{width:100%;height:.4rem;opacity:0;left:0;top:0;}



/*body背景色*/

	.color01,.bg01{background:#ffc7d0;}

    /*主色调 内部文字 搜索边框及按钮*/
    .bg02{background-color: #885e2e;}
    .color02{color: #5E5E5E}
    .bd02{border-color:#121f37}
    /*访问量数据字体*/
    .bg03{background-color: #0B2D8F;}
    .color03{color: #FFF;}
    .bd03{border-color:#121f37}
    /*外链按钮颜色*/
    .bg04{background-color: #885e2e;}
    .color04{color: #0098D1;}
    .bd04{border-color:#F4EB77}


    .special—color{color: #FFF}

    .top-data-color{
        font-family: fantasy;
        color: #964d37
    }

    /*排行页面字体颜色*/
    .rank table tr td {text-align: center;line-height: 30px;padding: .05rem 0;}


    .filebox {
        height: .35rem;
        line-height: .35rem;
        color: #fff;
        font-size: .14rem;
        border-bottom: .02rem solid white;
        text-align: center;
        overflow: hidden;
    }
    .baoming .sub-btn {
        border-bottom: .01rem solid white;
    }

    /*验证码弹窗样式*/
    #verify{
        margin-top: 50px;
    }
    #verify .bm_btn {
        display: block;
        width: 1.5rem;
        height: .4rem;
        border-radius: .1rem;
        margin: 0 auto;
        margin-top:.2rem;
        font-size: .18rem;
        font-weight: bold;
        color: #fff;
        background-color: #D50036;
        border: none;
    }

    #verify input[type="text"] {
        display: inline-block;
        width: 1rem;
        height: .4rem;
        border-radius: .1rem;
        /*     margin: 20px auto 15px;*/
        padding: 0 .1rem;
        font-size: .12rem;
        border: none;
        float: left;
    }
    #verify input[type="submit"] {
        display: inline-block;
        width: 1rem;
        height: .4rem;
        border-radius: .1rem;
        /*     margin: 20px auto 15px;*/
        padding: 0 .1rem;
        font-size: .12rem;
        border: none;
        float: left;
    }

    #verify img {
        display: inline-block;
        width: 1rem;
        height: .4rem;
        /*    margin: 20px auto 15px;*/
        padding: 0 .1rem;
        border: none;
        float: left;
    }
    .qp_lodediv {
        background: url('../image/loadb.png');
        width: 269px;
        height: 107px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10001;
    }

    .qp_lodediv img {
        display: block;
        margin: 0 auto;
    }
    #pngHolder img{
        width: 100%;
        height: 100%;
    }
    .top-banner img{
        width: 100%;
    }
    .detail img{
        width: 100%
    }
    .info1{
        margin-top: 0px;
    }